
django>=3.1.13
django-jazzmin
django-bootstrap-form-horizontal
django-cors-headers
django-forms-bootstrap
social-auth-app-django
django-bootstrap-form
djangorestframework
django-crispy-forms
django-bootstrap4
psycopg2-binary
django-storages
django-allauth
django_tables2
django-filter
python-dotenv
python-jose
plotly
pandas
tablib
boto3
wheel
msal
xlwt==1.3.0